{% extends 'base.html' %}

{% block content %}

<h1>{% block title %} Clientes {% endblock %}</h1>
<table class="tabla-clientes">
    <thead>
        <tr>

            <th>ID Cliente</th>
            <th>ID Cliente Avalista</th>
            <th>DNI</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Telefono</th>
            <th>Dirección</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in cliente %}
        <tr>
            <td>{{ cliente[0] }}</td>
            <td>{{ cliente[1] }}</td>
            <td>{{ cliente[2] }}</td>
            <td>{{ cliente[3] }}</td>
            <td>{{ cliente[4] }}</td>
            <td>{{ cliente[5] }}</td>
            <td>{{ cliente[6] }}</td>
            <td>{{ cliente[7] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    <style>
        .tabla-clientes {
            border-collapse: collapse;
            width: 100%;
        }
        .tabla-clientes th,
        .tabla-clientes td {
            border: 1px solid #ddd;
            padding: 8px;
        }
        .tabla-clientes tr:nth-child(even) {
            background-color: #f2f2f2;
        }
        .tabla-clientes tr:hover {
            background-color: #ddd;
        }
        .tabla-clientes th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #4caf50;
            color: white;
        }
    </style>
{% endblock %}