{% extends 'base.html' %} {% block content %}
<h1>{% block title %} Registros {% endblock %}</h1>
<table class="tabla-involucra">
  <thead>
    <tr>
      <th>ID Reserva</th>
      <th>ID Empleado</th>
      <th>Matricula</th>
      <th>Precio Vehículo</th>
    </tr>
  </thead>
  <tbody>
    {% for involucra in involucra %}
    <tr>
      <td>{{ involucra[0] }}</td>
      <td>{{ involucra[1] }}</td>
      <td>{{ involucra[2] }}</td>
      <td>{{ involucra[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<style>
  .tabla-involucra {
    border-collapse: collapse;
    width: 100%;
  }
  .tabla-involucra th,
  .tabla-involucra td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .tabla-involucra tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .tabla-involucra tr:hover {
    background-color: #ddd;
  }
  .tabla-involucra th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4caf50;
    color: white;
  }
  h1 {
    text-align: center;
    font-family: "Lucida Sans";
  }
</style>
<br/>
<center>
  <nav>
    <a href="{{url_for('add_registro')}}" class="buttom_add_registro">Añadir Registro</a>
    <a href="{{url_for('delete_registro')}}" class="buttom_delete_registro">Eliminar Registro</a>
    <a href="{{url_for('update_registro')}}" class="buttom_update_registro">Actualizar Registro</a>
  </nav>
</center>
<style>
  .buttom_add_registro {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .buttom_delete_registro {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .buttom_update_registro {
    background-color: #008cba;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
</style>


{% endblock %}
